.binary-heap {

    display: flex;
    align-items: flex-start;
    margin: 10px;

    #randomButton {
        background-color: #EDF;
        width: 210px;
    }
    #insertButton {
        background-color: #CFC;
        width: 100px;
    }
    #removeButton {
        background-color: #FCC;
        width: 210px;
    }
    #randomButton:hover, #insertButton:hover, #removeButton:hover {
        background-color: White;
    }
    #randomButton:active, #insertButton:active, #removeButton:active {
        background-color: Black;
        color: White;
    }

}