.insertion-sort {

    #main {
        display: flex;
        align-items: flex-start;
        margin: 10px;
    }

    #randomButton {
        width: 100px;
        background-color:#EDF;
    }

    #toggleSortingButton {
        width: 210px;
    }

    #generateArrayButton {
        width: 100px;
        background-color: #EEE;
    }

    #toggleSortingButton:hover, #randomButton:hover {
        background-color: White;
    }

    #toggleSortingButton:active, #randomButton:active {
        background-color: Black;
        color: White;
    }

    .greenButton {
        background-color: #CFC;
    }

    .pinkButton {
        background-color: #FCC;
    }
}
